@import 'modern-css-reset';
@import './variables';

html {
  background-color: #f0f0f0;
}

body {
  background-color: #fff;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
  padding: 0 1em;
}
